---
title: TAL Sample Application
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title><%= data.page.title || "The Middleman" %></title>

    <script type="text/javascript">
      var require = {
          baseUrl: "",
          paths: {
            <%= config.application_id %>: 'static/script',
            antie : "vendor/antie/static/script"
          },
          priority: [],
          <% if development? %>urlArgs: "bust=" +  (new Date()).getTime(),<% end %>
          callback: function() {}
        };
    </script>

    <!-- Load require.js -->
    <script type="text/javascript" src="vendor/antie/static/script/lib/require.js"></script>

    <!-- Load application base style sheet -->
    <link rel="stylesheet" href="static/style/base.css"/>

    <!-- Expose device config to framework -->
    <script>
      var antie = {
            framework: {
              deviceConfiguration: <%= config.device_configuration.to_json %>
            }
          };
    </script>
  </head>
  <body style="background: #000;">

  <!-- Add in device specific body (Plugins etc) -->
  <%= config.device_body %>

  <!-- Create a loading message -->
  <div id="static-loading-screen" style="position: absolute; width: 100%; height: 100%; background: #000;">
    Application is loading...
  </div>

  <!-- Create a div to house the app -->
  <div id="app" class="display-none">
  </div>

  <!-- Load the application and launch, remove loading screen via callback -->
  <script type='text/javascript'>
    require(
      [
        'sampleapp/appui/sampleapp'
      ],
      function(SampleApp) {
        require.ready(function() {
          function onReady() {
            var staticLoadingScreen = document.getElementById('static-loading-screen');
            staticLoadingScreen.parentNode.removeChild(staticLoadingScreen);
          };

          new SampleApp(document.getElementById('app'),
            'static/style/', 'static/img/', onReady);
        });
      }
    );
  </script>

  </body>
</html>
